

<style>
a{
    cursor:pointer;
}
.grow
{
        background-color:#ff8000;
        font-size:18px;
        box-shadow: inset 0 0 0 25px #ff8000;
}

.samepart{
    background-color:#d4dc70;
}


span{
    margin:0px;
    padding:0px;
}
.container{
    width:100%;
    background-color:pink;
    position:relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;  
}
.container:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:0; right:0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index:-1;
    -webkit-transform: translate(-35px,-40px)
                        skew(0deg,30deg)
                        rotate(-25deg);
}

.container:after{
    content: '';
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    display: inline-block;
    z-index:-1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(20px,25px)
                        skew(20deg);
}
.mainheader{
    width:92%;
    height:10px;
    padding:10px;
    margin:10px;
    background: #fafafa; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa); 
}
.leftInfo{
    width:50%;
    float:left;
    display:none;

}
.rightInfo{
    width:50%;
    float:right;
    display:none;
}
.header{
    padding:10px;
    margin:10px;
    width:92%;
    height:40px;
    background: #fafafa; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa); 
}
.article{
    padding:20px 10px 10px 10px;
    width:95%;
    height:400px;
    overflow:scroll;;
}
.nextStu{
    cursor:pointer;
    float:right;
    width:8%;
}
.preStu{
    cursor:pointer;
    float:left;
    width:8%;
}
.nextRef{
    cursor:pointer;
    float:right;
    width:8%;
}
.preRef{
    cursor:pointer;
    float:left;
    width:8%;
}
.title {
    display:inline-block;
    font-size:16px; 
    font-weight:bold; 
    color:#990033;
    width:50%;
 }
.author{
    display:inline-block;
    font-size:16px; 
    font-weight:bold; 
    color:#990033;
    width:30%;
}
.download{
    display:inline-block;
    width:10%;
}
.changeView{
    display:inline-block;
    width:10%;
}
.downloadAll{
    display:inline-block;
    width:10%;
}
.selectArea{
    display:inline-block;
    color:maroon;
    width:11%;
}
.selectAreaLess{
    display:inline-block;
    color:maroon;
    width:15%;
}
.tips {
  background-color: #f00;
  color: #fff;
/*   border-radius:50%;*/
  text-align: left;
  position: absolute;
  height: 20px;
  top:-20px;
  left:0px;
  font-size:8px;
  white-space: pre;
  z-index:999;
}
.mainTab{
    display:none;
}
.globalView{
    display:none;
}
.changeGlobalView{
    width:10%;
    display:none;
}
.backToGlobal{
    width:10%;
    display:none;
}

table a:link { 
    color: #666; 
    font-weight: bold; 
    text-decoration:none; 
} 
table a:visited { 
    color: #999999; 
    font-weight:bold; 
    text-decoration:none; 
} 
table a:active, 
table a:hover { 
    color: #bd5a35; 
    text-decoration:underline; 
} 
table { 
    font-family:Arial, Helvetica, sans-serif; 
    color:#666; 
    font-size:12px; 
    text-shadow: 1px 1px 0px #fff; 
    background:#eaebec; 
    margin:20px; 
    border:#ccc 1px solid; 
    
    -moz-border-radius:3px; 
    -webkit-borde-rradius:3px; 
    border-radius:3px; 
    
    -moz-box-shadow: 0 1px 2px #d1d1d1; 
    -webkit-box-shadow: 0 1px 2px #d1d1d1; 
    box-shadow: 0 1px 2px #d1d1d1; 
} 
table th { 
    padding:21px 25px 22px 25px; 
    border-top:1px solid #fafafa; 
    border-bottom:1px solid #e0e0e0; 
    
    background: #ededed; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb)); 
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb); 
} 
table th:firstchild { 
    text-align: left; 
    padding-left:20px; 
} 
table tr:firstchild th:firstchild { 
    -moz-border-radius-topleft:3px; 
    -webkit-border-topleft-radius:3px; 
    border-top-left-radius:3px; 
} 
table tr:firstchild th:lastchild { 
    -moz-borde-radius-topright:3px; 
    -webkit-border-topright-radius:3px; 
    border-top-right-radius:3px; 
} 
table tr { 
    text-align: center; 
    padding-left:20px; 
} 
table td:firstchild { 
    text-align: left; 
    padding-left:20px; 
    border-left: 0; 
} 
table td { 
    padding:18px; 
    border-top: 1px solid #ffffff; 
    border-bottom:1px solid #e0e0e0; 
    border-left: 1px solid #e0e0e0; 
    text-align: left;
    word-space: nowrap;
    
    background: #fafafa; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa)); 
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa); 
} 
table tr.even td { 
    background: #f6f6f6; 
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6)); 
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6); 
} 
table tr:lastchild td { 
    border-bottom:0; 
} 
table tr:lastchild td:firstchild { 
    -moz-border-radius-bottomleft:3px; 
    -webkit-border-bottom-left-radius:3px; 
    border-bottom-left-radius:3px; 
} 
table tr:lastchild td:lastchild { 
    -moz-border-radius-bottomright:3px; 
    -webkit-border-bottom-right-radius:3px; 
    border-bottom-right-radius:3px; 
} 
table tr:hover td { 
    background: #f2f2f2; 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0)); 
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	 
}
</style>
<div id="test"></div>
<div class="container">
    <input type="hidden" id="curStu" value="0" />
    <input type="hidden" id="curRef" value="0" />
    <input type="hidden" id="curView" value="0" />
    <!-- 头部 工具栏-->
    <div class="mainheader">
        <span class="downloadAll">
            <a onclick="filedownloadAll()">下载全部学生</a>
        </span>
        <span class="download">
            <a onclick="fileDownload()">下载当前学生</a>
        </span>
        <span id="selectArea" class="selectArea">
            选中:0
        </span>
        <span id="selectAreaLess" class="selectAreaLess">
            选中(不计标点):0
        </span>
        <span class="changeView">
            <a onclick="changeView()">表格视图</a>
        </span>
        <span class="changeGlobalView">
            <a onclick="changeToGlobalView()">统计视图</a>
        </span>
    </div>
    <!-- 学生文章区 -->
    <div class="leftInfo">
        {{#stu}}
        <div class="stuSection" data-show="{{articleId}}">
            <div class="header">
                <span class="preStu" data-show="{{articleId}}" >
                    <a onclick="preStu('{{articleId}}')">
                    上一个
                    </a>
                </span>
                <span id="author{{articleId}}" class="author">{{studentInfo.last_name}}{{studentInfo.first_name}}</span>
                <span id="title{{articleId}}" class="title">{{studentInfo.title}}</span>
               <span  class="nextStu" data-show="{{articleId}}" >
                    <a onclick="nextStu('{{articleId}}')">
                    下一个
                    </a>
                </span>
            </div>
            <div class="article">
            {{#sentenceList}}
               <span data-plag="{{#plagiarismList}}{{articleId}}-{{sentenceId}}-{{similarity}}({{lcsPart}}) {{/plagiarismList}}">{{content}}</span>
            {{/sentenceList}}
            <br />
            <hr />
            </div>
        </div>
        {{/stu}}
    </div>
    <!-- 参考文献区 -->
    <div class="rightInfo">
        {{#ref}}
        <div class="refSection" data-show="{{articleId}}">
            <div class="header">
                <span class="preRef" data-show="{{articleId}}" >
                    <a onclick="preRef('{{articleId}}')">
                    上一篇
                    </a>
                </span>
                <span class="title">{{filename}}</span>
               <span  class="nextRef" data-show="{{articleId}}" >
                    <a onclick="nextRef('{{articleId}}')">
                    下一篇
                    </a>
                </span>
            </div>
            <div class="article">
            {{#sentenceList}}
               <span data-plag="{{articleId}}-{{sentenceId}}">{{content}}</span>
            {{/sentenceList}}
            <br />
            <hr />
            </div>
        </div>
        {{/ref}}
    </div>
    <!-- 表格视图区 -->
    <div class="mainTab">
        <table id="tableShow">
            <th style="width:5%">序号</th>
            <th style="width:30%">学生的句子</th>
            <th style="width:30%">参考文献的句子</th>
            <th style="width:25%">相似部分</th>
            <th style="width:10%">相似度</th>
        </table>
    </div>
    <!-- 总体视图区 -->
    <div class="globalView">
        <table id="tableAll">
            <th style="width:5%">序号</th>
            <th style="width:30%">学生姓名</th>
            <th style="width:30%">文章字数</th>
            <th style="width:25%">相似字数</th>
            <th style="width:10%">相似度</th>
        </table>

    </div>
</div>

{{#js}}

init();


{{/js}}