

<style>
a{
    cursor:pointer;
}
.grow
{
        background-color:#ff8000;
        font-size:18px;
        box-shadow: inset 0 0 0 25px #ff8000;
}

.samepart{
    background-color:#d4dc70;
}


span{
    margin:0px;
    padding:0px;
}
.container{
    width:100%;
    background-color:pink;
    position:relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;  
}
.container:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:0; right:0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index:-1;
    -webkit-transform: translate(-35px,-40px)
                        skew(0deg,30deg)
                        rotate(-25deg);
}

.container:after{
    content: '';
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    display: inline-block;
    z-index:-1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(20px,25px)
                        skew(20deg);
}
.mainheader{
    width:92%;
    height:10px;
    padding:10px;
    margin:10px;
    background: #fafafa; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa); 
}
.leftInfo{
    width:50%;
    float:left;
    display:none;

}
.rightInfo{
    width:50%;
    float:right;
    display:none;
}
.header{
    padding:10px;
    margin:10px;
    width:92%;
    height:40px;
    background: #fafafa; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa); 
}
.article{
    padding:20px 10px 10px 10px;
    width:95%;
    height:400px;
    overflow:scroll;;
}
.nextStu{
    cursor:pointer;
    float:right;
    width:8%;
}
.preStu{
    cursor:pointer;
    float:left;
    width:8%;
}
.nextRef{
    cursor:pointer;
    float:right;
}
.preRef{
    cursor:pointer;
    float:left;
}
.title {
    display:inline-block;
    font-size:16px; 
    font-weight:bold; 
    color:#990033;
    width:50%;
 }
.author{
    display:inline-block;
    font-size:16px; 
    font-weight:bold; 
    color:#990033;
    width:30%;
}
.download{
    display:inline-block;
    width:10%;
}
.selectArea{
    display:inline-block;
    color:maroon;
    width:11%;
}
.tips {
  background-color: #f00;
  color: #fff;
/*   border-radius:50%;*/
  text-align: left;
  position: absolute;
  height: 20px;
  top:-20px;
  left:0px;
  font-size:8px;
  white-space: pre;
  z-index:999;
}
</style>
<div class="container">
        <input type="hidden" id="curStu" value="0" />
        <input type="hidden" id="curRef" value="0" />
    <div class="mainheader">
                <span class="download">
                    <a onclick="fileDownload()">下载当前学生</a>
                </span>
                <span id="selectArea" class="selectArea">
                    选中:0
                </span>
                <span id="selectAreaLess" class="selectArea">
                    选中(不计标点):0
                </span>
    </div>
    <div class="leftInfo">
        {{#stu}}
        <div class="stuSection" data-show="{{articleId}}">
            <div class="header">
                <span class="preStu" data-show="{{articleId}}" >
                    <a onclick="preStu('{{articleId}}')">
                    上一页
                    </a>
                </span>
                <span id="author{{articleId}}" class="author">{{studentInfo.last_name}}{{studentInfo.first_name}}</span>
                <span id="title{{articleId}}" class="title">{{studentInfo.title}}</span>
               <span  class="nextStu" data-show="{{articleId}}" >
                    <a onclick="nextStu('{{articleId}}')">
                    下一页
                    </a>
                </span>
            </div>
            <div class="article">
            {{#sentenceList}}
               <span data-plag="{{#plagiarismList}}{{articleId}}-{{sentenceId}}-{{similarity}}({{lcsPart}}) {{/plagiarismList}}">{{content}}</span>
            {{/sentenceList}}
            <br />
            <hr />
            </div>
        </div>
        {{/stu}}
    </div>
    <div class="rightInfo">
        {{#ref}}
        <div class="refSection" data-show="{{articleId}}">
            <div class="header">
                <span class="preRef" data-show="{{articleId}}" >
                    <a onclick="preRef('{{articleId}}')">
                    上一页
                    </a>
                </span>
                <span class="title">
                {{filename}}
                </span>
               <span  class="nextRef" data-show="{{articleId}}" >
                    <a onclick="nextRef('{{articleId}}')">
                    下一页
                    </a>
                </span>
            </div>
            <div class="article">
            {{#sentenceList}}
               <span data-plag="{{articleId}}-{{sentenceId}}">{{content}}</span>
            {{/sentenceList}}
            <br />
            <hr />
            </div>
        </div>
        {{/ref}}
    </div>
</div>

{{#js}}

init();


{{/js}}